@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global CSS file */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s !important;
  -webkit-box-shadow: 0 0 0px 1000px rgb(51 65 85) inset !important;
  -webkit-text-fill-color: rgb(255, 255, 255) !important;
}

input:-moz-autofill,
input:-moz-autofill:hover,
input:-moz-autofill:focus,
input:-moz-autofill:active {
  box-shadow: 0 0 0px 1000px rgb(51 65 85) inset !important;
  -moz-text-fill-color: rgb(255, 255, 255) !important;
}

input:-ms-autofill,
input:-ms-autofill:hover,
input:-ms-autofill:focus,
input:-ms-autofill:active {
  box-shadow: 0 0 0px 1000px rgb(51 65 85) inset !important;
  -ms-text-fill-color: rgb(255, 255, 255) !important;
}

input:-o-autofill,
input:-o-autofill:hover,
input:-o-autofill:focus,
input:-o-autofill:active {
  box-shadow: 0 0 0px 1000px rgb(51 65 85) inset !important;
  -o-text-fill-color: rgb(255, 255, 255) !important;
}

:root {
  --green: #4aca00;

  --error: #ff0000;
  --success: #09a52e;
  --warning: #ff9f1a;
  --info: #1bc2ff;

  --color: #424242;

  scrollbar-width: thin;
  scrollbar-color: rgb(51 65 85) rgb(28, 33, 37);
}

::-webkit-scrollbar-track {
  background: rgb(28, 33, 37);
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(51 65 85);
  border-radius: 12px;
}

.toast-info {
  box-shadow: 0 0 0 2px var(--info) !important;
}

.toast-success {
  box-shadow: 0 0 0 2px var(--success) !important;
}

.toast-warning {
  box-shadow: 0 0 0 2px var(--warning) !important;
}

.toast-error {
  box-shadow: 0 0 0 2px var(--error) !important;
}

.Text-outline {
  text-shadow: 1px 1px 0 black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black !important;
}

.Text-outline-hover:hover {
  text-shadow: 1px 1px 0 black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black !important;
}

input[type='date']::-webkit-calendar-picker-indicator,
input[type='time']::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

@media print {
  .details-print {
    display: block !important;
    /* Ensure details are visible when printing */
    border-color: black !important;
    page-break-inside: avoid;
    overflow: visible !important;
  }

  .no-page-break {
    page-break-inside: avoid;
  }

  .hide-on-print {
    display: none;
    /* Hide the toggle button when printing */
  }
}