@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --green:#4aca00;
}


/* Media query for dark mode */
@media (prefers-color-scheme: dark) {
    /* Change color of the date input icon for dark mode */
    input[type="date"]::-webkit-calendar-picker-indicator {
        filter: invert(100%);
    }

    /* Change color of the time input icon for dark mode */
    input[type="time"]::-webkit-calendar-picker-indicator {
        filter: invert(100%);
    }

    /* style the scroll bars to use tailwinds slate-800 for the track and slate-950 for the scroller */
    ::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }

    ::-webkit-scrollbar-track {
        background: rgb(35, 41, 44);
    }

    ::-webkit-scrollbar-thumb {
        background: #374151;
        border-radius: 5px;
    }
}


/* Any hidden by default details will be visible when printing */

@media print { 
     .toggle-container-print {
        page-break-inside: avoid;
        margin-top: 25px;
        border: 1px solid black;
        width: 95%;
    }

    .details-print {
        display: block !important; /* Ensure details are visible when printing */
        border-color: black !important;
        page-break-inside: avoid;
    }
    .toggle-details, .details-header, .hide-on-print {
        display: none; /* Hide the toggle button when printing */
    }

}